{% extends 'base.html.twig' %}

{% block body %}

    <div class="jumbotron">
        <h1 class="display-4">Meilisearch Demos</h1>
        <p class="lead">
            Meilisearch is screaming fast.  Here are some demos I built to show it off.
            (Note: I have no affiliation with Meilisearch.com, just a fan.)

        </p>
        <hr class="my-4">
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="https://meilisearch.com" target="_blank" role="button">Learn more</a>
        </p>
    </div>

    <ul>

    {% for endpoint in endpoints %}
        <li>

            <a href="{{ path('app_insta', {
                indexName: endpoint.name,
                class: 'grid-' ~ endpoint.columns
            }) }}">{{ endpoint.label }}</a>

            {{ endpoint.settings|json_pretty }}
{#            <andypf-json-viewer data='{{ endpoint.settings|json_encode }}'></andypf-json-viewer>#}


        </li>

    {% endfor %}
    </ul>

{% endblock  %}
{% block xbody %}

    There are over 13,000 packages on packagist.org with the tag 'symfony-bundle'.

    This tool help you browse them.
    {% for route, label in {
        package_browse: 'Browse using Datatables (Meilisearch)',
        admin_package_index: 'Browse using Easy Admin',
        app_insta: 'instant search',
    } %}
        <li>
            <a href="{{ path(route, {indexName: 'packagesPackage'}) }}">
                <code>{{ route }}</code>
                {{ label }}</a>
        </li>

    {% endfor %}

    <andypf-json-viewer data='{
    "url": https://hello.com",
    "test": "Hello World"}'></andypf-json-viewer>


        <style>
            .composer-package {
                font-family: monospace;
                font-size: 1.2em;
            }
            .composer-package__vendor {
                opacity: 0.6;       /* lighter tone */
                font-size: 0.9em;   /* slightly smaller */
            }
            .composer-package__name {
                font-weight: 600;   /* bolder */
                color: #222;        /* darker */
            }
        </style>
    <p>Installed package:</p>
    <span class="composer-package">
    <span class="composer-package__vendor">symfony</span>/
    <span class="composer-package__name">console</span>
  </span>


{% endblock %}

{% block title %}

{% endblock %}

