{% extends "base.html.twig" %}
{#{% extends "@SurvosBootstrap/tabler/base.html.twig" %}#}

{#{% block javascripts %}#}
{#    {% block importmap %}{{ importmap('app') }}{% endblock %}#}
{#{% endblock %}#}

{% block stylesheets %}
    {{ parent() }}
    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/instantsearch.css@8/themes/algolia.min.css"
    >
    <style>
        .container {
            display: grid;
            grid-template-columns: 350px 1fr;
            gap: 1rem;
        }
        aside {
            min-height: 100vh;
            justify-content: space-between;
            flex-direction: column;
            border-right: 1px solid red;
        }
    </style>
{% endblock %}

{% block body %}
    {% set _sc = 'insta' %}
    <div
        class="container py-4"
        {{ stimulus_controller(_sc, {
            serverUrl: server,
            serverApiKey: apiKey
        }) }}
    >
        <h1 class="mb-4">Insta</h1>

            {# Sidebar: search + filters #}
        <div class="mb-3" {{ stimulus_target(_sc, 'searchBox') }}></div>

            <aside class="col-12 col-md-3 mb-4"
                {{ stimulus_target(_sc, 'refinementList') }}
            >
                {% for attr in ['marking', 'phpVersions', 'symfonyVersions'] %}
                    <div class="mb-4">
                        <h5 class="mb-2">{{ attr|capitalize }}</h5>
                        <div
                            data-attribute="{{ attr }}"
                        ></div>
                    </div>
                {% endfor %}
            </aside>

            {# Main: hits + pagination #}
            <main>
                <div {{ stimulus_target('insta', 'hits') }}></div>
                <div class="mt-4" {{ stimulus_target('insta', 'pagination') }}></div>

                {# Your hit template (we keep it verbatim) #}
            </main>

        <template {{ stimulus_target('insta', 'template') }}>
            {% verbatim %}
                <h3>
                  <a href="{{ hit.repo }}?tab=readme-ov-file" target="_blank">
                    {{ hit._highlightResult.name.value }}
                  </a>
                </h3>
                #{{ hit.__hitIndex }} ({{ hit.__position }})
                <code>{{ hit.marking }}</code>
                <p>{{ hit._highlightResult.description.value }}</p>

                {% for v in hit.symfonyVersions %}
                  <span class="badge bg-primary me-1">{{ v }}</span>
                {% endfor %}

                {% for v in hit.phpVersions %}
                  <span class="badge bg-secondary me-1">{{ v }}</span>
                {% endfor %}

                <div class="mt-2">
                  <a href="{{ path('package_show', hit.rp) }}" class="btn btn-sm btn-outline-primary">
                    Show details
                  </a>
                </div>
                {% endverbatim %}
        </template>

    </div>
{% endblock %}
