{% extends "base.html.twig" %}
{# {% extends "@SurvosBootstrap/tabler/base.html.twig" %} #}

{# {% block javascripts %} #}
{#    {% block importmap %}{{ importmap('app') }}{% endblock %} #}
{# {% endblock %} #}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .container {
            display: grid;
            grid-template-columns: 350px 1fr;
            gap: 1rem;
        }

        aside {
            min-height: 100vh;
            justify-content: space-between;
            flex-direction: column;
        }
    </style>
{% endblock %}

{% block body %}


    {% set _sc = 'insta' %}
    {% set _sc_modal = 'modal' %}
    {#        {{ stimulus_controller(_sc_modal) }}#}
    {% set globals = {
        serverUrl: server,
        serverApiKey: apiKey,
        indexName: indexName,
        debug: app.request.get('debug', false)
    } %}
    {% set icons = {
        json: ux_icon('si:json-duotone'),
        bug: ux_icon('tabler:bug'),
    } %}

    <div {{ stimulus_controller(_sc, {
            serverUrl: server,
            serverApiKey: apiKey,
            indexName: indexName,
            globalsJson: globals|json_encode,
            iconsJson: icons|json_encode,
            templateUrl: path('app_template', {indexName: indexName})
        }) }}
        class="container-fluid py-4"
    >
        <div class="w-100">
            <div class="row g-4">
                <div class="col-lg-3">
                    <div class="card insta-side-panel">
                        <div class="p-3">
                            <div class="d-flex align-items-center mb-4">
                                <h4 class="card-title fs-5 flex-grow-1 fw-bold mb-0">Insta</h4>
                                <a href="#!" class="flex-shrink-0">Reset All</a>
                            </div>
                            <aside class="col-12 col-md-12 mb-4"
                                {{ stimulus_target(_sc, 'refinementList') }}
                            >
                                {% for attr in facets %}
                                    <div class="mb-4">
                                        <h5 class="sub-title mb-2 fw-medium">{{ attr|capitalize }}</h5>
                                        <div
                                            data-attribute="{{ attr }}"
                                        ></div>
                                    </div>
                                {% endfor %}
                            </aside>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="insta-list">
                        {# Sidebar: search + filters #}
                        <div class="mb-3" {{ stimulus_target(_sc, 'searchBox') }}></div>
                        {# Main: hits + pagination #}
                        <main
                            {{ stimulus_controller(_sc_modal, {
                                indexName: indexName,
                                globalsJson: globals|json_encode,
                            }) }}
                        >
                            <div {{ stimulus_target(_sc, 'hits') }}></div>
                            <div class="mt-4" {{ stimulus_target(_sc, 'pagination') }}></div>

                            <div {{ stimulus_target(_sc_modal, 'modal') }}
                                class="modal fade"
                            >
                                {{ include('_modal.html.twig') }}
                            </div>
                        </main>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
