{% extends "base.html.twig" %}

{% block body %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/instantsearch.css@8/themes/algolia.min.css">

<h1>Insta</h1>
    {% set _sc = 'insta' %}
<div
    {{ stimulus_controller(_sc, {
        serverUrl: server,
        apiKey: apiKey
    }) }}
{#    data-controller="insta"#}
{#     data-insta-server-url-value="{{ server }}"#}
{#     data-insta-server-api-key-value="{{ apiKey }}"#}
>
    <div {{ stimulus_target(_sc, 'searchBox') }}></div>
{#    <div data-insta-target="searchBox"></div>#}
    <div id="pagination" data-insta-target="pagination"></div>
    <div data-insta-target="hits">

    </div>
    <div data-insta-target="genres"></div>
{#    <twig:jsTwig#}
{#        :caller="_self"#}
{#        id="test"#}
{#    >#}
{#    </twig:jsTwig>#}
    <template id="hit-template" data-insta-target="template">
        {% verbatim %}

        <h3>
        <a href="{{ hit.repo }}" target="_blank">
<!--        {{ hit.name }}-->
        {{ hit._highlightResult.name.value }}
</a>
        </h3>
        <code>{{ hit.marking }}</code>
        <div>
        {{ hit._highlightResult.description.value }}
        </div>
        {% for v in hit.symfonyVersions %}
            <span class="badge badge-primary">{{ v }}</span>
        {% endfor %}

        {% for v in hit.phpVersions %}
        <b>{{v}}</b>
<!--            <sspan class="badge badge-primary">{{ v }}</sspan>-->
        {% endfor %}
        <div>

<!--        {{ description }}-->
<!--        URL:         {{ path('package_show', hit.rp) }}-->

        <a href="{{ path('package_show', hit.rp) }}">
        SHOW
        </a>
</a>
</div>
        {% endverbatim %}
    </template>
{#    <twig:jsTwig#}
{#        :caller="_self"#}
{#        id="test"#}
{#    >#}

{#    </twig:jsTwig>#}
</div>

{% endblock %}
