{% extends "package/base.html.twig" %}

{% block title %}Bundle Browser{% endblock %}

{% block body %}

    {% set facet_columns = [
        {name: 'vendor', browsable: true, order: 1},
        {name: 'marking', browsable: true},
        {name: 'symfonyVersions', browsable: true, title: 'symfony', block: 'list', order: 3},
        {name: 'phpVersions', browsable: true, title: 'php', block: 'list'},
    ] %}

    {% set columns = [
        'id',
        {name: 'shortName'},
        {name: 'vendor', browsable: true},
        {name: 'marking', browsable: true},
        {name: 'description', searchable: true},
        {name: 'symfonyVersions', browsable: true, title: 'symfony', block: 'list', order: 3},
        {name: 'keywords', title: 'keywords', block: 'list'},
        {name: 'phpVersions', browsable: true, title: 'php', block: 'list'},
    ] %}

    {% set globals = {
        packagistIcon: ux_icon('simple-icons:packagist'),
        githubIcon: ux_icon('tabler:brand-github'),
        iconMap: {
            new:  ux_icon('clarity:new-line'),
            composer_loaded: ux_icon('logos:composer'),
            php_too_old:  ux_icon('icon-park-outline:invalid-files', {class: 'bg-danger text-white'}),
        }
    } %}

<twig:api_grid
        :class="packageClass"
        :caller="_self"
        :columns="columns"
        :facet_columns="facet_columns"
        :apiRoute="apiRoute"
        :globals="globals"
>
    <twig:block name="id">
                        <span>
            <a target="_blank" href="{{ path('package_show', row.rp) }}">
                {{ row.id }}
            </a>
            </span>


    </twig:block>
    <twig:block name="vendor">
            <span class="xline-limit-2 xtext-wrap" style="max-width: 200px">
                {{ row.vendor }}
            </span>
    </twig:block>
    <twig:block name="xxshortName">
        <a target="_blank" href="{{ path('package_show', row.rp) }}">
            {{ row.shortName|default('??') }}
        </a>

        <b><a href="https://packagist.org/packages/{{ row.name }}" target="_blank">
                (packagist)
            </a>
        </b>

    </twig:block>
    <twig:block name="marking">
        {% set icon = globals.iconMap[row.marking]|default(false) %}
        {% if icon %}
            <span title="{{ row.marking }}">
                {{ icon }}

                </span>
        {% else %}
            {{ row.marking }}
        {% endif %}
    </twig:block>
    <twig:block name="description">
            <span class="line-limit-1" style="max-width: 600px">
                {{ row.description }}
            </span>
    </twig:block>

    <twig:block name="list">
        {% set items = attribute(row, field_name) %}
        {% set max = 3 %}
        <ul class="list-unstyled">
            {% for item in items|slice(0, 3) %}
                <li class="list-inline-item">{{ item }}
                    {{ loop.last and (items|length > max) ? '+%d'|format(items|length - max) }}
                </li>
            {% endfor %}
        </ul>
        {#            <b>!{{ field_name }}</b>#}
        {#            {{ attribute(row, field_name)|json_encode }}#}
        {#            {{ attribute(row, field_name)|map(v  => "<li>#{v}</li>") }}#}
    </twig:block>
    <twig:block name="shortName">
        {#            <span>#}
        {#            <a target="_blank" href="{{ path('package_show', row.rp) }}">#}
        {#                Show#}
        {#            </a>#}
        {#            </span>#}

        <a href="{{ row.repo }}" target="_blank" title="{{ row.repo }}">
            {{- globals.githubIcon -}}
        </a>
        <a href="https://packagist.org/packages/{{ row.name }}" target="_blank">
            {{ globals.packagistIcon }}
            {#                <span class="bi bi-github"></span> #}
            {{ row.shortName }}
        </a>
    </twig:block>
</twig:api_grid>

{% endblock %}
