{% extends "package/base.html.twig" %}

{% block title %}Bundle Browser{% endblock %}

{% block body %}

    {% set facet_columns = [
        {name: 'vendor', browsable: true, order: 1},
        {name: 'marking', browsable: true},

        {name: 'symfonyVersions', browsable: true, title: 'symfony'},
        {name: 'phpVersions', browsable: true, title: 'php'},
#        {name: 'phpUnitVersions', browsable: true, title: 'phpunit'},
    ] %}

    {% set columns = [
        {name: 'id', order: 1},
        {name: 'shortName'},
        {name: 'symfonyVersionString', title: 'symfony', order: 0},
 #       {name: 'phpUnitVersionString', title: 'phpunit', order: 0},
        {name: 'phpVersionString', title: 'php', order: 0},
        {name: 'vendor', browsable: true, order: 0},
#        {name: 'phpUnitVersion', browsable: true, title: 'phpunitStr', order: 0},
        {name: 'marking', browsable: true},
        {name: 'description', searchable: true},
        {name: 'symfonyVersions', browsable: true, title: 'symfony', order: 0},
        {name: 'keywords', title: 'keywords', block: 'list', order: 0},
#        {name: 'phpVersions', browsable: true, title: 'php', block: 'list'},
    ] %}

    {% set globals = {
        packagistIcon: ux_icon('simple-icons:packagist'),
        githubIcon: ux_icon('tabler:brand-github'),
        iconMap: {
            new:  ux_icon('clarity:new-line'),
            composer_loaded: ux_icon('logos:composer'),
            php_too_old:  ux_icon('icon-park-outline:invalid-files', {class: 'bg-danger text-white'}),
        }
    } %}

<twig:api_grid
        :class="packageClass"
        :caller="_self"
        :columns="columns"
        :facet_columns="facet_columns"
        :apiRoute="apiRoute"
        :globals="globals"
>
    <twig:block name="id">
            <span>
            <a target="_blank" href="{{ path('package_show', row.rp) }}">
                {{ row.id }}
            </a>
            </span>


    </twig:block>
    <twig:block name="name">
            <span class="line-limit-2 xtext-wrap" style="max-width: 200px">
                {{ row.vendor }}
                <br />
                {{ row.shortName }}
            </span>
    </twig:block>
    <twig:block name="marking">
        {% set icon = globals.iconMap[row.marking]|default(false) %}
        {% if icon %}
            <span title="{{ row.marking }}">
                {{ icon }}
                </span>
        {% else %}
            {{ row.marking }}
        {% endif %}
    </twig:block>
    <twig:block name="description">
            <span class="line-limit-2" style="max-width: 600px">
                {{ row.description }}
            </span>
    </twig:block>

    <twig:block name="phpVersionString">
        <div class="line-limit-2">
            <code>{{ row.phpVersionString }}</code>
            <br />
{#            {{ row.phpVersions|join('|') }}#}
        </div>
    </twig:block>
    <twig:block name="symfonyVersionString">
        <code>{{ row.symfonyVersionString|slice(0, 10) }}</code>
        {% set max = 3 %}
        <ul class="list-inline">
            {% for item in row.symfonyVersions %}
            <li class="list-inline-item">{{ item }}
                {{ loop.last and (items|length > max) ? '+%d'|format(items|length - max) }}
            </li>
            {% endfor %}
        </ul>

    </twig:block>
    <twig:block name="list">
        <div class="line-limit-2">
            {% set items = attribute(row, field_name) %}
            {% set max = 2 %}
            <ul class="list-inline">
                {% for item in items|slice(0, max) %}
                <li class="list-inline-item">{{ item }}
                    {{ loop.last and (items|length > max) ? '+%d'|format(items|length - max) }}
                </li>
                {% endfor %}
            </ul>
        </div>
        {#            <b>!{{ field_name }}</b>#}
        {#            {{ attribute(row, field_name)|json_encode }}#}
        {#            {{ attribute(row, field_name)|map(v  => "<li>#{v}</li>") }}#}
    </twig:block>
    <twig:block name="shortName">
            <div class="line-limit-2 text-wrap" style="max-width: 200px">
        <span class="text-muted">
        {{ row.vendor }}/
        </span>
                {% if row.repo %}
                <a href="{{ row.repo }}" target="_blank" title="{{ row.repo }}">
                    {{- globals.githubIcon -}}
                </a>
                {% endif %}
                <a href="https://packagist.org/packages/{{ row.name }}" target="_blank">
                    {{ globals.packagistIcon }}
                    {#                <span class="bi bi-github"></span> #}
                </a>
                <br />

                {#            <span>#}
        {#            <a target="_blank" href="{{ path('package_show', row.rp) }}">#}
        {#                Show#}
        {#            </a>#}
        {#            </span>#}

            <a target="_blank" href="{{ path('package_show', row.rp) }}">
                {{ row.shortName|default('??') }}
            </a>

            </div>
    </twig:block>
</twig:api_grid>

{% endblock %}
