{% extends "package/base.html.twig" %}

{% block body %}
    <h1>{{ package.name }}</h1>

    {{ package.stars }}
    {{ package.data.time|ago }}
    <h3>{{ package.dependencies|length }} Projects </h3>
    {{ include('dependency/_table.html.twig', {dependencies: package.dependencies})}}

    <twig:item_grid
        :data="package.data.require">
    </twig:item_grid>

    <twig:item_grid
            :data="package.data">
    </twig:item_grid>

{% endblock %}
