{% extends "package/base.html.twig" %}

{% block body %}
    <h1>{{ package.name }}</h1>

    PHP: {{ package.phpVersionString }}:
    {{ fn_validPhpVersions(package)|join('|') }}

    PHPUnit: {{ package.phpUnitVersion }}:
    {{ package.phpUnitVersions|default([])|join('|') }}
    {{ fn_validPhpVersions(package)|join('|') }}

        <h3>Admin</h3>
        {#        flowName: 'SubmissionWorkflow',#}
        {{ include('@SurvosWorkflow/_entity_transitions.html.twig', {
            transition_path: 'package_transition', entity: package
        }) }}
    {% if is_granted('ROLE_ADMIN') %}
    {% endif %}

    {% if package.data %}
    {{ block('content') }}
    {% endif %}
{% endblock %}

{% block content %}
    {{ package.stars }}
    {{ package.data.time|time_diff }}

    <twig:item_grid
        :data="package.data.require">
    </twig:item_grid>

    <twig:item_grid
            :data="package.data">
    </twig:item_grid>

{% endblock %}
