{% extends '@EasyAdmin/layout.html.twig' %}

{% block title %}{{ package.name }}{% endblock %}

{% block content_header %}
    <div class="content-header-title">
        <h1 class="title">{{ package.name }}</h1>
    </div>

    <div class="page-actions">
        <a href="{{ path('admin_package_index') }}" class="btn btn-secondary">
            <i class="fa fa-arrow-left"></i> Back to list
        </a>
    </div>
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="mb-3">
                        <code class="badge badge-secondary">{{ package.marking }}</code>
                    </div>

                    {% if package.description %}
                        <blockquote class="blockquote mb-4">
                            {{ package.description }}
                        </blockquote>
                    {% endif %}

                    <div class="row">
                        <div class="col-md-6">
                            <h5>Package Info</h5>
                            <ul class="list-unstyled">
                                <li><strong>Downloads:</strong> {{ package.downloads|number_format }}</li>
                                <li><strong>{{ package.sourceType|title }}:</strong>
                                    <a target="_blank" href="{{ package.sourceUrl }}" class="text-decoration-none">
                                        {{ package.sourceUrl }}
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div class="col-md-6">
                            <h5>Requirements</h5>
                            <ul class="list-unstyled">
                                <li><strong>Symfony:</strong> <code>{{ package.symfonyVersionString }}</code></li>
                                <li><strong>PHP:</strong> <code>{{ package.phpVersionString }}</code></li>
                                {% if package.phpUnitVersionString %}
                                    <li><strong>PHPUnit:</strong> <code>{{ package.phpUnitVersionString }}</code></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>

                    {% if package.keywords|length > 0 %}
                        <h5>Keywords ({{ package.keywords|length }})</h5>
                        <div class="mb-3">
                            {% for keyword in package.keywords %}
                                <span class="badge badge-light me-1">{{ keyword }}</span>
                            {% endfor %}
                        </div>
                    {% endif %}

                    {% if is_granted('ROLE_ADMIN') %}
                        <div class="card mt-4">
                            <div class="card-header">
                                <h5 class="card-title mb-0">Admin Actions</h5>
                            </div>
                            <div class="card-body">
                                {{ include('@SurvosWorkflow/_entity_transitions.html.twig', {
                                    transition_path: 'package_transition',
                                    entity: package
                                }) }}
                            </div>
                        </div>
                    {% endif %}

                    {% if package.data %}
                        {{ block('extra') }}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra %}
    <div class="card mt-4">
        <div class="card-header">
            <h5 class="card-title mb-0">Package Data</h5>
            <small class="text-muted">Updated: {{ package.data.time|time_diff }}</small>
        </div>
        <div class="card-body">
            <andypf-json-viewer
                indent="2"
                expanded="true"
                theme="default-light"
                show-data-types="true"
                show-toolbar="false"
                expand-icon-type="arrow"
                show-copy="true"
                show-size="true"
                data='{{ package.data|json_encode }}'
            ></andypf-json-viewer>
        </div>
    </div>
{% endblock %}
