{% extends "package/base.html.twig" %}

{% block title package.name  %}
{% block body %}
    <h1>{{ package.name }}</h1>

    <code>{{ package.marking }}</code>
{#    {{ dump(package) }}#}
{#    Starred: {{ package.favers }}#}

    <div class="blockquote">
        {{ package.description }}
    </div>
    <h3>{{ package.keywords|length }} Keywords</h3>
    {% for keyword in package.keywords %}
        <li>{{ keyword }}</li>
    {% endfor %}
    <br />Downloads: {{ package.downloads }}
    Github: <a target="_blank" href="https://github.com/{{ package.name }}">{{ package.name }}</a>

    <ul>
        <li>
            Symfony: <code>{{ package.symfonyVersionString }}</code> {{ package.symfonyVersions|join('|') }}
        </li>
        <li>
            PHP: <code>{{ package.phpVersionString }}</code> {{ package.phpVersions|join('|') }}
        </li>
        <li>
            PHPUnit: <code>{{ package.phpUnitVersionString }}</code> {{ package.phpUnitVersions|default([])|join('|') }}
        </li>

    </ul>

    {% if is_granted('ROLE_ADMIN') %}
        <h3>Admin</h3>
        {#        flowName: 'SubmissionWorkflow',#}
        {{ include('@SurvosWorkflow/_entity_transitions.html.twig', {
            transition_path: 'package_transition', entity: package
        }) }}
    {% endif %}

    {% if package.data %}
    {{ block('content') }}
    {% endif %}
{% endblock %}

{% block content %}
{#    Stars: {{ package.stars }}<br />#}
    Updated: {{ package.data.time|time_diff }}

{#    <twig:item_grid#}
{#        :data="package.data.require">#}
{#    </twig:item_grid>#}

    <twig:item_grid
            :data="package.data">
    </twig:item_grid>

{% endblock %}
