{% set _sc = 'reveal' %}

<div class="card h-100">
    <div class="card-header d-flex justify-content-between align-items-center gap-2">
        <span class="fs-5 fw-semibold">{{ hit._highlightResult.title.value }}</span>
        <span class="text-danger">${{ hit.price|number_format(2) }}</span>
    </div>

    <div class="card-body">
        <div class="blockquote text-muted fs-6">
            {{ hit.content }}
        </div>

    </div>

    <div class="card-footer clearfix d-flex gap-2 align-items-center flex-wrap">
        {# <code>{{ hit.marking }}</code> #}
        <div class="flex-shrink-0 badge bg-success">
            Name: {{ hit.sourceName }}
        </div>

        <div class="badge bg-warning me-auto">
            type: {{ hit.sourceType }}
        </div>
        <button
            {{ stimulus_action(_sc_modal|default('debug_dialog'), 'modal') }}
            data-hit-id="{{ hit.id }}"
            class="float-end btn btn-sm btn-outline-primary">
            {{ icons.json }}
        </button>
    </div>
</div>



