DEBUG_BUTTON
{#{% include 'debug_button.html' with {'hit': hit} only %}#}
{#{% set _sc = 'debug_dialog' %}#}
{#https://github.com/twigjs/twig.js/wiki#ajax-templates#}
{# this could also be an action if the controller were outside the loop #}

{#<div {{ stimulus_controller(_sc, {#}
{#    serverUrl: globals.serverUrl,#}
{#    serverApiKey: globals.serverApiKey,#}
{#    indexName: globals.indexName,#}
{#    id: hit.id#}
{#}) }}#}
{#    {{ stimulus_action(_sc, 'backdropClose') }}#}
{#>#}


{#    <dialog {{ stimulus_target(_sc, 'dialog')}}#}
{#        data-dialog-target="dialog">#}
{#        <h3 {{ stimulus_target(_sc, 'title') }}>#}
{#            title#}
{#        </h3>#}

{#        <div {{ stimulus_target(_sc, 'content')}}>#}
{#            content#}
{#        </div>#}
{#        <button type="button"#}
{#            {{ stimulus_action(_sc, 'close') }}#}
{#                autofocus>Cancel</button>#}
{#    </dialog>#}


{#    <button type="button"#}
{#        {{ stimulus_action(_sc, 'open') }}#}
{#    >#}
{#        {{ icons.json|default([])|raw }}#}
{#        {{ hit.id }}#}
{#        </button>#}
{#</div>#}

