{% set official = hit %}
{% set name = hit.name %}

<h4>{{ hit['name.official_full'] }}
    ({{ hit['currentParty'] }} - {{ official.state }})</h4>
<b>
    {{ official.imageCount }} Image(s)
</b>
<button
    {{ stimulus_action(_sc_modal|default('debug_dialog'), 'modal') }}
    data-hit-id="{{ official.id }}"
    class="btn btn-sm btn-outline-primary">
    {{ icons.json }}
</button>

<ul>
    {% for code, imageData in hit.imageCodes %}
        {% for filter, size in imageData %}
            {{ imageData|json_encode }}
{#            <div class="item">#}
{#                <a href="{{ thumb }}" target="_blank">#}
{#                    <img src="{{ thumb }}" title="{{ thumb }}" alt="{{ thumb }}" class="img-{{ filter }}" />#}
{#                </a>#}
{#                <br />{{ filter }} {{ (size/1024)|number_format(1) }}kb#}
{#            </div>#}
        {% endfor %}
    {% endfor %}


</ul>
