{% set hit = hit|merge(hit.data) %}


{% set _sc = 'reveal' %}

<div class="card h-100">
    <div class="card-header d-flex justify-content-between align-items-center">
        <span class="fs-3">{{ hit._highlightResult.data.title.value }}</span>
        ${{ hit.price|number_format(2) }}
    </div>

    <div class="card-body">
        <img src="{{ hit.thumbnail }}" alt="image" />
        <div class="blockquote">
            {{ hit._highlightResult.data.description.value }}
        </div>

    </div>

    <div class="card-footer clearfix d-flex float-end justify-content-end">
        <code>{{ hit.marking }}</code>
        <div class="float-start">
            In Stock: {{ hit.stock }}
        </div>

        <div class="ms-3">
            Rating: {{ hit.rating }}
        </div>
        <button
            {{ stimulus_action(_sc_modal|default('debug_dialog'), 'modal') }}
            data-hit-id="{{ hit.sku }}"
            class="float-end btn btn-sm btn-outline-primary">
            {{ icons.json }}
        </button>
    </div>
</div>



