
{# example of search at

https://collections.museumsvictoria.com.au/search?query=statue&view=list

#}
{% set obj = hit %}

{#{{ obj|json_encode }}#}
<img src="{{ hit.thumbnail }}" />
<h4>
    {{ hit.t.en.label }}
</h4>
rendered X: {{ x }}

{#  this section is repeated, move it to debug_button.html.twig #}

{# need to load this correctly, can't use include in an inline template #}
{#{% include 'detail.twig' with {'hit': hit} only %}#}
{% set _sc = 'debug_dialog' %}
{#https://github.com/twigjs/twig.js/wiki#ajax-templates#}
{# this could also be an action if the controller were outside the loop #}

<div {{ stimulus_controller(_sc, {
    serverUrl: globals.serverUrl,
    serverApiKey: globals.serverApiKey,
    indexName: globals.indexName,
    id: hit.id
}) }}
    {{ stimulus_action(_sc, 'backdropClose') }}
>
    <dialog
        {{ stimulus_target(_sc, 'dialog')}}
    >
        <h3 {{ stimulus_target(_sc, 'title') }}>
            {{ _sc }} title
        </h3>

        <div {{ stimulus_target(_sc, 'content')}}>
            {{ _sc }} content
        </div>
        <button type="button"
            {{ stimulus_action(_sc, 'close') }}
                autofocus>Cancel/Close</button>
    </dialog>


    <button type="button"
        {{ stimulus_action(_sc, 'open') }}
    >
        {{ icons.json|raw }}
        {{ hit.id }}</button>
</div>


<!-- Flex container so badges wrap neatly -->
<div class="d-flex flex-wrap gap-2">
    <!-- Loop over your tags: replace this with your template syntax -->
    <!-- Example in plain HTML: -->
{#    <span class="badge rounded-pill bg-primary">New</span>#}
{#    <span class="badge rounded-pill bg-success">Sale</span>#}
{#    <span class="badge rounded-pill bg-warning text-dark">Limited</span>#}
  {% for tag in hit.keywords %}
    <span class="badge rounded-pill bg-success">{{ tag }}</span>
  {% endfor %}

    Flags:
    {% for locale in hit.targetLocales %}
        <span class="badge rounded-pill bg-warning">{{ locale }}</span>
    {% endfor %}

</div>


<div>
    <a href="{{ hit.citation }}" target="_blank">
        {{ hit.credit|default(hit.citation) }}
    </a>
</div>
<div>

</div>

<div
    data-controller="collapse"
    data-collapse-lines-value="3"
    data-collapse-more-text-value="Read more"
    data-collapse-less-text-value="Show less"
    class="mb-4"
>
    <p data-collapse-target="text" class="line-clamp">
        {{ hit.t.en.description }}
    </p>

    <button
        data-collapse-target="button"
        data-action="click->collapse#toggle"
        class="btn btn-sm btn-link p-0"
        aria-expanded="false"
    >
        Read more
    </button>
</div>


{#{{ hit.pixie_key }}#}
{#{{ hit.date_modified }}#}
{#{{ hit.keywords|slice(0,2)|join(' ') }}#}
{#{{ obj|keys|join(" ") }}#}
