{% set _sc = 'reveal' %}

<div class="card h-100">
    <div class="card-header d-flex justify-content-between align-items-center">
        <b>
            <a href="{{ hit.repo }}?tab=readme-ov-file" target="_blank">

                {#        {{ hit._highlightResult.name.value }}#}
                <span class="fs-6">
            {{ hit._highlightResult.vendor.value }}/
        </span>
                <span class="fs-3">{{ hit._highlightResult.shortName.value }}</span>
            </a>
        </b>
    </div>

    <div class="card-body">
        <div class="blockquote">

            {{ hit._highlightResult.description.value|raw }}
        </div>
        <div>
            PHP: {{ hit.phpVersionString ?: 'undefined' }}
{#            {% for v in hit.phpVersions %}#}
{#                <span class="badge bg-secondary me-1">{{ v }}</span>#}
{#            {% endfor %}#}
        </div>

{{ hit.stars ? hit.stars ~ ' stars' }}

        {% for keywork in hit.keywords %}
            <span>{{ keyword }}</span>
        {% endfor %}


    </div>

    <div class="card-footer clearfix xxd-flex float-end xjustify-content-end">
        <code>{{ hit.marking }}</code>
        {% for v in hit.symfonyVersions %}
            <span class="badge bg-primary">{{ v }}</span>
        {% endfor %}

        <span>
                    {% if hit._rankingScore != 1 %}
                        score: {{ hit._rankingScore|number_format(2) }}
                    {% endif %}
                </span>
        <button
            {{ stimulus_action(_sc_modal|default('debug_dialog'), 'modal') }}
            data-hit-id="{{ hit.id }}"
            class="float-end btn btn-sm btn-outline-primary">
            {{ icons.json }}
        </button>

            <a target="_blank" href="{{ path('package_show', hit.rp) }}" class="btn btn-sm btn-outline-primary">
                Details
            </a>

    </div>
</div>



{#{{ custom_render({hit: hit}) }}#}
{# this renders the modal button!  Could be a hacky custom tag #}
{#<div {{ stimulus_controller(_sc, {id: hit.id,#}
{#    serverUrl: globals.serverUrl,#}
{#    serverApiKey: globals.serverApiKey,#}
{#    indexName: globals.indexName,#}

{#}) }}#}
{#    {{ stimulus_action(_sc, 'backdropClose') }}#}
{#>#}
{#    <button type="button" {{ stimulus_action(_sc, 'open') }}>#}
{#        {{ icons.json|raw }}#}
{#         {{ hit.id }}</button>#}
{#</div>#}


{#{% set _sc_modal = 'modal' %}#}
{#{% if globals.debug|default(false) %}#}
{##{{ hit.__hitIndex }} ({{ hit.__position }})#}
{#<button#}
{#    data-hit-id="{{ hit.id }}"#}
{#    data-hit-json="{{ hit|json_encode|escape }}"#}
{#    {{ stimulus_action(_sc, 'debug') }}>#}
{#    {{ hit.id }}#}
{#    MODAL#}
{#</button>#}

{#{% endif %}#}



