<h3>
    <a href="{{ hit.repo }}?tab=readme-ov-file" target="_blank">

{#        {{ hit._highlightResult.name.value }}#}
        <span class="fs-6">
            {{ hit._highlightResult.vendor.value }}/
        </span>
        <span class="fs-3">
            {{ hit._highlightResult.shortName.value }}
        </span>
    </a>
</h3>
<code>{{ hit.marking }}</code>
PHP: {{ hit.phpVersionString }}
<p>{{ hit._highlightResult.description.value }}</p>

{% set _sc = 'debug_dialog' %}
{# this could also be an action if the controller were outside the loop #}
<div {{ stimulus_controller(_sc, {
    serverUrl: globals.serverUrl,
    serverApiKey: globals.serverApiKey,
    indexName: globals.indexName,
    id: hit.id
}) }}
    {{ stimulus_action(_sc, 'backdropClose') }}
>


    <dialog {{ stimulus_target(_sc, 'dialog')}}
        data-dialog-target="dialog">
        <h3 {{ stimulus_target(_sc, 'title') }}>
            title
        </h3>

        <div {{ stimulus_target(_sc, 'content')}}>
            content
        </div>
        <button type="button"
                {{ stimulus_action(_sc, 'close') }}
                autofocus>Cancel</button>
    </dialog>


    <button type="button"
            {{ stimulus_action(_sc, 'open') }}
    >
        {{ icons.json|raw }}
         {{ hit.id }}</button>
</div>


{% set _sc_modal = 'modal' %}
{% if globals.debug|default(false) %}
#{{ hit.__hitIndex }} ({{ hit.__position }})
<button
    data-hit-id="{{ hit.id }}"
    data-hit-json="{{ hit|json_encode|escape }}"
    {{ stimulus_action(_sc_modal, 'debug') }}>

    {{ hit.id }}
</button>

{% endif %}


{% for v in hit.symfonyVersions %}
    <span class="badge bg-primary me-1">{{ v }}</span>
{% endfor %}

                {% for v in hit.phpVersions %}
                    <span class="badge bg-secondary me-1">{{ v }}</span>
                {% endfor %}

<div class="mt-2">
    <a target="_blank" href="{{ path('package_show', hit.rp) }}" class="btn btn-sm btn-outline-primary">
        Show details
    </a>
</div>

