{% set _sc = 'reveal' %}

<div class="card h-100">
    <div class="card-header d-flex justify-content-between align-items-center gap-2">
        <span class="fs-5 fw-semibold">{{ hit._highlightResult.name.value }}</span>
{#        <span class="text-danger">${{ hit.price|number_format(2) }}</span>#}
    </div>

    <div class="card-body">
        {% set thumb = 'https://showcase.wip/%s.wip.png'|format(hit.name) %}
        <img src="{{ thumb }}" alt="image" class="mx-auto d-block img-fluid img-thumbnail" style="max-width: 200px" />
        <div class="blockquote text-muted fs-6">
            {{ hit._highlightResult.description.value }}
        </div>

    </div>

    <div class="card-footer clearfix d-flex gap-2 align-items-center flex-wrap">
        {# <code>{{ hit.marking }}</code> #}
        <div class="flex-shrink-0">
            <a href="{{ hit.liveUrl }}" target="_blank">{{ hit.liveUrl }}</a>
            <a href="https://{{ hit.name }}.wip" target="_blank">Local</a>
        </div>

        <div class="badge bg-warning me-auto">
            Stability: {{ hit.minimumStability }}
        </div>

        {% if hit._rankingScore != 1 %}
            <span class="m-4">
                        score: {{ hit._rankingScore|number_format(2) }}
                </span>
        {% endif %}

        <button
            {{ stimulus_action(_sc_modal|default('debug_dialog'), 'modal') }}
            data-hit-id="{{ hit.id }}"
            class="float-end btn btn-sm btn-outline-primary">
            {{ icons.json }}
        </button>
    </div>
</div>



